{% extends "orders/layout.html" %}

{% block title %}Cart{% endblock %}
{% block content %}

<div class="container">
  <div class="fond">
    <div class="row">
      <h4 class="menu_title">Here is your cart</h4>
    </div>
    <div class="row">
      <div class="col md-12">
        <ul>
          {% for p in order %}
          <li>{{ p }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col md-12 price">
        Total price : ${{ price }}
      </div>
    </div>
    <div class="row">
      <div class="col md-6 cart-option">
        <a href="/order" > Continue order </a>
      </div>
      <div class="col md-6 cart-option">
        <a href="/payment/?price={{ price }}" > Proceed to Payment </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
