{% extends "orders/layout.html" %}

{% block title %}Menu{% endblock %}

{% block content %}

<div class="container">
  <div class="row fond tab">
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      <button class="tablink active">Pizza</button>
    </div>
    <div class="col-md-2">
      <button class="tablink">Subs</button>
    </div>
    <div class="col-md-2">
      <button class="tablink">Pasta</button>
    </div>
    <div class="col-md-2">
      <button class="tablink">Salads</button>
    </div>
    <div class="col-md-2">
      <button class="tablink">Platter</button>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="fond">
    <div id="Pizza" class="Menucontent">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h4 class="menu_title">Regular pizza</h4>
              <table class="table table_menu">
                <thead>
                  <tr>
                    {% for k in Pizza_header %}
                    <th>{{k}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for k,v in R_rows.items %}
                  <tr>
                    <td>{% if k == 0 %}Cheese{% elif k == 1 %}1 topping{% elif k == 4%} Special {% else %}{{k}} toppings{% endif %}</td>
                    {% for e in v %}
                    <td>${{e}}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <h4 class="menu_title">Sicilian pizza</h4>
              <table class="table">
                <thead>
                  <tr>
                    {% for k in Pizza_header %}
                    <th>{{k}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for k,v in S_rows.items %}
                  <tr>
                    <td>{% if k == 0 %}Cheese{% elif k == 1 %}1 topping{% elif k == 4%} Special {% else %}{{k}} toppings{% endif %}</td>
                    {% for e in v %}
                    <td>${{e}}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="menu_title">Our toppings</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="toppings_list">
            {% for t in Toppings %}
            <li> {{ t.type }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div id="Subs" class="Menucontent">
      <div class="row">
        <div class="col-md-6">
          <h4 class="menu_title">Subs</h4>
        </div>
        <div class="col-md-6">
          <h4 class="menu_title">Add to your sandwich</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <table>
            <tr>
              <th></th>
              <th>Small</th>
              <th>Large</th>
            </tr>
            {% for s in Subs %}
            <tr>
              <td>{{ s.name }}</td>
              <td>{% if s.price_s > 0 %}{{ s.price_s }}{% endif %}</td>
              <td>{{ s.price_l }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="col-md-6">

          <ul class="list-menu">
            {% for s in Sub_addons %}
            <li> {{ s.type }} + $ {{ s.price }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div id="Pasta" class="Menucontent">
      <h4 class="menu_title">Pasta</h4>
      <ul class="list-menu">
        {% for pasta in Pastas %}
        <li>{{ pasta.type }} at $ {{ pasta.price }}</li>
        {% endfor %}
      </ul>
    </div>

    <div id="Salads" class="Menucontent">
      <h4 class="menu_title">Salads</h4>
      <ul class="list-menu">
        {% for salad in Salads %}
        <li>{{ salad.type }} at $ {{ salad.price }}</li>
        {% endfor %}
      </ul>
    </div>

    <div id="Platter" class="Menucontent">
      <h4 class="menu_title">Platter</h4>
      <div class="">
        <table style="width:50%">
          <tr>
            <th></th>
            <th>Small</th>
            <th>Large</th>
          </tr>
          {% for n, v in Plate_prices.items %}
          <tr>
            <td> {{ n }} </td>
            {% for e in v %}
            <td>${{e}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
