{% extends "orders/layout.html" %}

{% block title %}Order{% endblock %}

{% block content %}
<h1>Order</h1>

<div id="tab">
  <button class="tablink active" onlick="openTab(event,'PizzaM')"">Pizza</button>
  <button class="tablink" onlick="openTab(event,'SubsM')">Subs</button>
  <button class="tablink" onlick="openTab(event,'PastaM')">Pasta</button>
  <button class="tablink" onlick="openTab(event,'SaladsM')">Salads</button>
  <button class="tablink" onlick="openTab(event,'PlatterM')">Platter</button>
</div>



<div id="Pizza" class="Menucontent">
  <h3>Pizza</h3>
  <form action="/order_pizza" method="post">
    {% csrf_token %}
    {{ pizza_form }}
      <input type="submit" value="Submit">
  </form>
</div>

<div id="Subs" class="Menucontent">
  <h3>Subs</h3>

</div>

<div id="Pasta" class="Menucontent">
  <h3>Pasta</h3>
  <form action="/order_pasta" method="post">
    {% csrf_token %}
    {{ pasta_form }}
      <input type="submit" value="Submit">
  </form>
</div>

<div id="Salads" class="Menucontent">
  <h3>Salads</h3>
  <form action="/order_salad" method="post">
    {% csrf_token %}
    {{ salad_form }}
      <input type="submit" value="Submit">
  </form>
</div>

<div id="Platter" class="Menucontent">
  <h3>Platter</h3>
</div>
{% endblock %}
