{% extends "orders/layout.html" %}

{% block title %}Order{% endblock %}

{% block content %}
<div class="container">
  <div class="row fond tab">
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      <button class="tablink active">Pizza</button>
    </div>
    <div class="col-md-2">
      <button class="tablink">Subs</button>
    </div>
    <div class="col-md-2">
      <button class="tablink">Pasta</button>
    </div>
    <div class="col-md-2">
      <button class="tablink">Salads</button>
    </div>
    <div class="col-md-2">
      <button class="tablink">Platter</button>
    </div>
    <div class="col-md-1">
    </div>
  </div>


  <div class="fond">
    <div id="Pizza" class="Menucontent">
      <form action="/order_pizza" method="post">
        {% csrf_token %}
        {{ pizza_form.non_field_errors }}
        <div class="row">
          <div class="col-md-4 fieldWrapper">
              {{ pizza_form.pizza_type.errors }}
              <label for="{{ pizza_form.pizza_type.id_for_label }}">Pizza type:</label>
              {{ pizza_form.pizza_type }}
          </div>
          <div class="col-md-4 fieldWrapper">
              {{ pizza_form.pizza_size.errors }}
              <label for="{{ pizza_form.pizza_size.id_for_label }}">Pizza size:</label>
              {{ pizza_form.pizza_size }}
          </div>
        </div>
        <div class="row">
          <div class="fieldWrapper">
              {{ pizza_form.toppings.errors }}
              <label for="{{ pizza_form.toppings.id_for_label }}">Choix de toppings: </label>
              {{ pizza_form.toppings }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input class="try_it" type="submit" value="Add to cart">
          </div>
        </div>
      </form>
    </div>

    <div id="Subs" class="Menucontent">
      <form action="/order_sub" method="post">
        {% csrf_token %}
        {{ sub_form.non_field_errors }}
        <div class="row">
          <div class="col-md-4 fieldWrapper">
              {{ sub_form.sub_main.errors }}
              <label for="{{ sub_form.sub_main.id_for_label }}">Sub type:</label>
              {{ sub_form.sub_main }}
          </div>
          <div class="col-md-4 fieldWrapper">
              {{ sub_form.sub_size.errors }}
              <label for="{{ sub_form.sub_size.id_for_label }}">Sub size:</label>
              {{ sub_form.sub_size }}
          </div>
        </div>
        <div class="row">
          <div class="fieldWrapper">
              {{ sub_form.toppings.errors }}
              <label for="{{ sub_form.toppings.id_for_label }}">Choix de toppings: </label>
              {{ sub_form.toppings }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input class="try_it" type="submit" value="Add to cart">
          </div>
        </div>
      </form>
    </div>


<div id="Pasta" class="Menucontent">
  <h3>Pasta</h3>
  <form action="/order_pasta" method="post">
    {% csrf_token %}
    {{ pasta_form }}
      <input type="submit" value="Submit">
  </form>
</div>

    <div id="Salads" class="Menucontent">
      <h3>Salads</h3>
      <form action="/order_salad" method="post">
        {% csrf_token %}
        {{ salad_form }}
        <input type="submit" value="Submit">
      </form>
    </div>

    <div id="Platter" class="Menucontent">
      <form action="/order_plate" method="post">
        {% csrf_token %}
        {{ plate_form.non_field_errors }}
        <div class="row">
          <div class="col-md-4 fieldWrapper">
              {{ plate_form.type.errors }}
              <label for="{{ plate_form.type.id_for_label }}">Plate type:</label>
              {{ plate_form.type }}
          </div>
          <div class="col-md-4 fieldWrapper">
              {{ plate_form.plate_size.errors }}
              <label for="{{ plate_form.plate_size.id_for_label }}">Plate size:</label>
              {{plate_form.plate_size}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input class="try_it" type="submit" value="Add to cart">
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
{% endblock %}
